@use '../../../styles/variables' as vars;

.headerLanguage a {
  font-size: 14px;
  background: transparent;
}

.noActiveWord {
  color: #999999;
  font-weight: 400;
}

.activeWord {
  color: inherit;
  font-weight: 400;
}

@media (max-width: 480px) {
  .headerLanguage button {
    font-size: 12px;
  }
}
