@use '../../../styles/variables' as vars;

//Переключатели
.headerMode {
  button {
    background: transparent;
    font-size: 16px;
  }
}

.noActiveWord {
  color: #999999;
  font-weight: 400;
}

.activeWord {
  color: inherit; // берёт цвет у родителя (body или div)
  font-weight: 400;
}

@media (max-width: 480px) {
  .headerMode button {
    font-size: 12px;
  }
}
