@use '../../styles/variables' as vars;
@use '../../styles/mixins';

.contactsSection {
  @include mixins.flex-center;
  margin-bottom: 150px;
  padding-top: 100px;
}

.contactsContainer {
  @include mixins.flex-center;
  flex-direction: column;
  max-width: 534px;
}

.contactsSupertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 44px;
  color: #{vars.$accentColor};
  font-weight: 500;
  border: 3px solid #{vars.$accentColor};
  border-radius: 0 8px 0 8px;
}

.contantsHeadline {
  margin: 20px auto 10px;
}
.accentWord {
  color: #{vars.$accentColor};
  font-weight: 600;
}

.contactsDesc {
  text-align: center;
}

.email {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 0 40px;
  text-align: center;

  a {
    color: inherit;
  }
}

.contactsSocial {
  display: flex;
  flex-direction: row;
  gap: 30px;

  li {
    a {
      img {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      transition-delay: 0;
      opacity: 0.5;
    }
  }
}

@media (max-width: 1350px) {
  .contactsSection {
    margin-bottom: 100px;
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  .contactsSection {
    margin-bottom: 70px;
    padding-top: 50px;
  }

  .email {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contactsSection {
    margin-bottom: 50px;
    padding-top: 30px;
  }

  .contactsSupertitle {
    width: 100px;
    height: 40px;
    font-weight: 400;
  }

  .email {
    font-size: 16px;
    padding-bottom: 20px;
  }
}
